* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #313539;
  font-family: "Vollkorn", serif;
  font-size: 15px;
  line-height: 1.75;
}

body h1 {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 40px;
}

body h2 {
  color: #c0996b;
  text-transform: uppercase;
  font-size: 15px;
}

body p {
  color: #afafaf;
  margin-top: 2rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #252525;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  header nav .logo {
    max-height: 86px;
    margin-top: 17px;
    margin-left: 25px;
  }
}

@media only screen and (min-width: 768px) {
  header nav .logo {
    max-height: 105px;
    margin-top: 17px;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 1024px) {
  header nav .logo {
    max-height: 105px;
    margin-top: 17px;
    margin-left: 25px;
  }
}

main #banner {
  width: 100%;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

@media only screen and (max-width: 767px) {
  main #banner {
    max-height: 235px;
  }
}

@media only screen and (min-width: 768px) {
  main #banner {
    max-height: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  main #banner {
    max-height: 400px;
  }
}

main p {
  padding-right: 6%;
}

main .button {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

main .button a {
  font-size: 28px;
  text-decoration: none;
  color: whitesmoke;
  border: 2px solid #afafaf;
  padding: 10px 30px 10px 30px;
}

main .button a:hover {
  color: #c0996b;
  border: 3px solid #afafaf;
}

main .pics img {
  padding-top: 1rem;
}

@media only screen and (max-width: 767px) {
  main .buda img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  main .buda img {
    max-width: 100%;
    height: 100%;
  }
}

main .extra {
  background-image: url(..//media/images/reservation.jpg);
  background-position: center;
  -webkit-filter: saturate(0.3) brightness(0.9) contrast(0.3) opacity(1);
          filter: saturate(0.3) brightness(0.9) contrast(0.3) opacity(1);
}

main .info {
  font-size: 28px;
  color: whitesmoke;
  -webkit-filter: brightness(1) contrast(1);
          filter: brightness(1) contrast(1);
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 5rem;
}

footer {
  padding-left: 3rem;
  color: #afafaf;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer a {
  color: #afafaf;
  font-size: 17px;
  text-decoration: none;
}

footer a:hover {
  color: #c0996b;
}

/*About Us*/
.about-us .ab-us {
  background-image: url(../media/images/about-1.jpg);
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .about-us .ab-us {
    height: 235px;
  }
}

@media only screen and (min-width: 768px) {
  .about-us .ab-us {
    height: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .about-us .ab-us {
    height: 400px;
  }
}

.about-us .ab-us h2 {
  color: whitesmoke;
  padding: 2rem;
  font-size: 20px;
}

.about-us aside {
  padding: 0% 5% 0% 5%;
}

.about-us h2 {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 30px;
}

.about-us h3 {
  color: #c0996b;
  text-transform: uppercase;
  font-size: 15px;
}

.about-us .ab2 img {
  padding-bottom: 1rem;
}

/*Contact*/
.contact {
  max-width: 100%;
  padding: 2rem;
}

.contact legend {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 20px;
}

.contact label {
  color: #afafaf;
  margin-top: 2rem;
}

.contact textarea {
  margin: 0 1rem 0 1rem;
}

/*Gallery*/
.gallery img {
  padding-bottom: 10px;
}

.gallery img:hover {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  max-width: 100%;
  border: #afafaf solid 3px;
  padding: 0px;
}

/*Our Menu*/
.menu .our-menu {
  background-image: url(../media/images/menu-kazumi.jpg);
  background-position: center;
  background-size: 135%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .menu .our-menu {
    height: 235px;
  }
}

@media only screen and (min-width: 768px) {
  .menu .our-menu {
    height: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .menu .our-menu {
    height: 400px;
  }
}

.menu .our-menu h2 {
  color: whitesmoke;
  padding: 2rem;
  font-size: 25px;
}

.menu h2 {
  color: whitesmoke;
  font-size: 40px;
  padding: 2%;
}

.menu .items div {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  padding-left: 2%;
}

.menu .items div span {
  padding: 0;
  color: whitesmoke;
  font-size: 30px;
}

.menu .items div p {
  margin: 0;
  padding: 0;
  color: #c0996b;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */