@media only screen and (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Mobile View max width 425*/
  body {
    background-color: #313539;
    font-family: "Vollkorn", serif;
    font-size: 15px;
    line-height: 1.75;
  }
  /* Index Mobile*/
  h1 {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 40px;
  }
  h2 {
    color: #c0996b;
    text-transform: uppercase;
    font-size: 15px;
  }
  p {
    color: #afafaf;
    margin-top: 2rem;
  }
  .logo {
    max-height: 86px;
    margin-top: 17px;
    margin-left: 25px;
  }
  #banner {
    width: 100%;
    max-height: 220px;
    filter: brightness(0.5);
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #252525;
    text-align: center;
  }
  .hover-menu {
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
  }
  .hover-menu:hover {
    color: #c0996b;
  }
  .tittle {
    width: 90%;
  }
  .subtittle {
    width: 90%;
  }
  section p {
    padding-right: 6%;
  }
  .button {
    padding-top: 2rem;
  }
  .button a {
    font-size: 28px;
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid #afafaf;
    padding: 10px 30px 10px 30px;
  }
  .button a:hover {
    color: #c0996b;
    border: 2px solid #afafaf;
  }
  .info {
    font-size: 28px;
    color: whitesmoke;
    filter: brightness(1) contrast(1);
    justify-self: center;
    padding: 5rem;
  }
  .extra {
    background-image: url(..//media/images/reservation.jpg);
    background-position: center;
    filter: saturate(0.3) brightness(0.9) contrast(0.3) opacity(1);
  }
  footer {
    color: #afafaf;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  footer a {
    color: #afafaf;
    font-size: 17px;
    text-decoration: none;
  }
  footer a:hover {
    color: #c0996b;
  }
  /* About Us Mobile*/
  .ab-us {
    background-image: url(../media/images/about-1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ab-us h2 {
    color: whitesmoke;
    padding: 2rem;
  }
  .p1 h2 {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 30px;
  }
  .p1 h3 {
    color: #c0996b;
    text-transform: uppercase;
    font-size: 15px;
  }
  .p2 h2 {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 30px;
  }
  .p2 h3 {
    color: #c0996b;
    text-transform: uppercase;
    font-size: 15px;
  }
  /* Contact Mobile*/
  label {
    color: #afafaf;
    margin-top: 2rem;
  }
  legend {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
  }
  textarea {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .contact {
    max-width: 100%;
    padding: 10px;
  }
  /* Gallery  Mobile*/
  main img {
    width: 100%;
    padding-bottom: 10px;
  }
  .gallery img:hover {
    transform: scale(1.07);
    max-width: 100%;
    border: #afafaf solid 3px;
    padding: 0px;
  }
  /* Our Menu Mobile */
  .our-menu {
    grid-area: banner;
    background-image: url(../media/images/menu-kazumi.jpg);
    background-position: center;
    background-size: 135%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-menu h2 {
    color: whitesmoke;
    padding: 2rem;
  }
}
/*---------- Vista Tablet-------------*/
@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #313539;
    font-family: "Vollkorn", serif;
    font-size: 15px;
    line-height: 1.75;
  }
  /* Index Tablet */
  h1 {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 40px;
  }
  h2 {
    color: #c0996b;
    text-transform: uppercase;
    font-size: 15px;
  }
  p {
    color: #afafaf;
    margin-top: 2rem;
  }
  .logo {
    max-height: 100px;
    margin-top: 17px;
    margin-left: 25px;
  }
  #banner {
    max-height: 400px;
    filter: brightness(0.5);
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #252525;
    text-align: center;
  }
  .hover-menu {
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
  }
  .hover-menu:hover {
    color: #c0996b;
  }
  .tittle {
    width: 90%;
  }
  .subtittle {
    width: 90%;
    margin-bottom: 1rem;
  }
  section p {
    padding-right: 6%;
  }
  .button {
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
  .button a {
    font-size: 28px;
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid #afafaf;
    padding: 10px 30px 10px 30px;
  }
  .button a:hover {
    color: #c0996b;
    border: 2px solid #afafaf;
  }
  .info {
    font-size: 28px;
    color: whitesmoke;
    filter: brightness(1) contrast(1);
    justify-self: center;
    padding: 5rem;
  }
  .extra {
    background-image: url(..//media/images/reservation.jpg);
    background-position: center;
    filter: saturate(0.3) brightness(0.9) contrast(0.3) opacity(1);
  }
  footer {
    color: #afafaf;
  }
  footer a {
    color: #afafaf;
    font-size: 17px;
    text-decoration: none;
  }
  footer a:hover {
    color: #c0996b;
  }
  /* About Us Tablet */
  .ab-us {
    grid-area: banner;
    background-image: url(../media/images/about-1.jpg);
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ab-us h2 {
    color: whitesmoke;
    padding: 2rem;
    font-size: 20px;
  }
  .ab2 img {
    padding: 0%;
    width: 100%;
  }
  .ab3 img {
    padding: 0%;
    padding-top: 2rem;
    width: 100%;
  }
  .p1 {
    grid-area: p1;
    padding: 5% 5% 0% 5%;
  }
  .p1 h2 {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 30px;
  }
  .p1 h3 {
    color: #c0996b;
    text-transform: uppercase;
    font-size: 15px;
  }
  .p2 {
    grid-area: p2;
    padding: 5% 5% 0% 5%;
  }
  .p2 h2 {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 30px;
  }
  .p2 h3 {
    color: #c0996b;
    text-transform: uppercase;
    font-size: 15px;
  }
  /* Contact Tablet */
  label {
    color: #afafaf;
    margin-top: 2rem;
  }
  legend {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
  }
  textarea {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .contact {
    max-width: 50vw;
    padding: 1rem 8rem 2rem 8rem;
  }
  /* Gallery Tablet */
  main img {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .gallery img:hover {
    transform: scale(1.07);
    border: #afafaf solid 3px;
    padding: 0;
  }
  /* Our Menu Tablet */
  .our-menu {
    grid-area: banner;
    background-image: url(../media/images/menu-kazumi.jpg);
    background-position: center;
    background-size: 135%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-menu h2 {
    color: whitesmoke;
    padding: 2rem;
  }
}
/*---------- Vista Desktop ----------*/
@media only screen and (min-width: 1024px) {
}
