/*Variables*/

$bg-color: #313539;
$white: whitesmoke;
$orange: #c0996b;
$light-gray: #afafaf;
$nav-bgcolor: #252525;
$banner-h: 235px;
$banner-h-t: 300px;
$banner-h-d: 400px;

/*----------------------------------------------*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: $bg-color;
  font-family: "Vollkorn", serif;
  font-size: 15px;
  line-height: 1.75;
  h1 {
    color: $white;
    text-transform: uppercase;
    font-size: 40px;
  }
  h2 {
    color: $orange;
    text-transform: uppercase;
    font-size: 15px;
  }
  p {
    color: $light-gray;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  /*Index*/
  header {
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      background-color: $nav-bgcolor;
      text-align: center;
      .logo {
        max-height: 86px;
        margin-top: 17px;
        margin-left: 25px;
      }
    }
  }
  main {
    #banner {
      width: 100%;
      max-height: $banner-h;
      filter: brightness(0.5);
    }
    p {
      padding-right: 6%;
    }
    .button {
      padding-top: 3rem;
      padding-bottom: 1rem;
      a {
        font-size: 28px;
        text-decoration: none;
        color: $white;
        border: 2px solid $light-gray;
        padding: 10px 30px 10px 30px;
      }
      a:hover {
        color: $orange;
        border: 3px solid $light-gray;
      }
    }
    .pics {
      img {
        padding-top: 1rem;
      }
    }
    .buda {
      img {
        max-width: 100%;
      }
    }
    .extra {
      background-image: url(..//media/images/reservation.jpg);
      background-position: center;
      filter: saturate(0.3) brightness(0.9) contrast(0.3) opacity(1);
    }
    .info {
      font-size: 28px;
      color: $white;
      filter: brightness(1) contrast(1);
      justify-self: center;
      padding: 5rem;
    }
  }
  footer {
    padding-left: 3rem;
    color: $light-gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    a {
      color: $light-gray;
      font-size: 17px;
      text-decoration: none;
    }
    a:hover {
      color: $orange;
    }
  }
  /*About Us */
  .about-us {
    .ab-us {
      background-image: url(../media/images/about-1.jpg);
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: $banner-h;
      h2 {
        color: $white;
        padding: 2rem;
        font-size: 20px;
      }
    }
    aside {
      padding: 0% 5% 0% 5%;
    }
    h2 {
      color: $white;
      text-transform: uppercase;
      font-size: 30px;
    }
    h3 {
      color: $orange;
      text-transform: uppercase;
      font-size: 15px;
    }
    .ab2 {
      img {
        padding-bottom: 1rem;
      }
    }
  }
  /*Contact*/
  .contact {
    max-width: 100%;
    padding: 2rem;
    legend {
      color: $white;
      text-transform: uppercase;
      font-size: 20px;
    }
    label {
      color: $light-gray;
      margin-top: 2rem;
    }
    textarea {
      margin: 0 1rem 0 1rem;
    }
  }
  /*Gallery*/
  .gallery {
    img {
      width: 100%;
      padding-bottom: 10px;
    }
    img:hover {
      transform: scale(1.07);
      max-width: 100%;
      border: $light-gray solid 3px;
      padding: 0px;
    }
  }
  /*Our Menu*/
  .our-menu {
    height: $banner-h;
    background-image: url(../media/images/menu-kazumi.jpg);
    background-position: center;
    background-size: 135%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      color: $white;
      padding: 2rem;
      font-size: 20px;
    }
  }
}
/*---------- Vista Tablet-------------*/
@media only screen and (min-width: 768px) {
  header {
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      background-color: $nav-bgcolor;
      text-align: center;
      .logo {
        max-height: 105px;
        margin-top: 17px;
        margin-left: 25px;
      }
    }
  }
  main {
    #banner {
      width: 100%;
      max-height: $banner-h-t;
      filter: brightness(0.5);
    }
    p {
      padding-right: 6%;
    }
    .button {
      padding-top: 3rem;
      padding-bottom: 1rem;
      a {
        font-size: 28px;
        text-decoration: none;
        color: $white;
        border: 2px solid $light-gray;
        padding: 10px 30px 10px 30px;
      }
      a:hover {
        color: $orange;
        border: 3px solid $light-gray;
      }
    }
    .pics {
      img {
        padding-top: 1rem;
      }
    }
    .buda {
      img {
        max-width: 100%;
        height: 100%;
      }
    }
    .extra {
      background-image: url(..//media/images/reservation.jpg);
      background-position: center;
      filter: saturate(0.3) brightness(0.9) contrast(0.3) opacity(1);
    }
    .info {
      font-size: 28px;
      color: $white;
      filter: brightness(1) contrast(1);
      justify-self: center;
      padding: 5rem;
    }
  }
  footer {
    padding-left: 3rem;
    color: $light-gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    a {
      color: $light-gray;
      font-size: 17px;
      text-decoration: none;
    }
    a:hover {
      color: $orange;
    }
  }
  /*About Us*/
  .about-us {
    .ab-us {
      background-image: url(../media/images/about-1.jpg);
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: $banner-h-t;
      h2 {
        color: $white;
        padding: 2rem;
        font-size: 20px;
      }
    }
    aside {
      padding: 0% 5% 0% 5%;
    }
    h2 {
      color: $white;
      text-transform: uppercase;
      font-size: 30px;
    }
    h3 {
      color: $orange;
      text-transform: uppercase;
      font-size: 15px;
    }
    .ab2 {
      img {
        padding-bottom: 1rem;
      }
    }
  }
  /*Contact*/
  .contact {
    max-width: 100%;
    padding: 2rem;
    legend {
      color: $white;
      text-transform: uppercase;
      font-size: 20px;
    }
    label {
      color: $light-gray;
      margin-top: 2rem;
    }
    textarea {
      margin: 0 1rem 0 1rem;
    }
  }
  /*Gallery*/
  .gallery {
    img {
      width: 100%;
      padding-bottom: 10px;
    }
    img:hover {
      transform: scale(1.07);
      max-width: 100%;
      border: $light-gray solid 3px;
      padding: 0px;
    }
  }
  /*Our Menu*/
  .our-menu {
    height: $banner-h-t;
    background-image: url(../media/images/menu-kazumi.jpg);
    background-position: center;
    background-size: 135%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      color: $white;
      padding: 2rem;
      font-size: 20px;
    }
  }
}
/*---------- Vista Desktop ----------*/
@media only screen and (min-width: 1024px) {
  header {
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      background-color: $nav-bgcolor;
      text-align: center;
      .logo {
        max-height: 105px;
        margin-top: 17px;
        margin-left: 25px;
      }
    }
  }
  main {
    #banner {
      width: 100%;
      max-height: $banner-h-d;
      filter: brightness(0.5);
    }
    p {
      padding-right: 6%;
    }
    .button {
      padding-top: 3rem;
      padding-bottom: 1rem;
      a {
        font-size: 28px;
        text-decoration: none;
        color: $white;
        border: 2px solid $light-gray;
        padding: 10px 30px 10px 30px;
      }
      a:hover {
        color: $orange;
        border: 3px solid $light-gray;
      }
    }
    .pics {
      img {
        padding-top: 1rem;
      }
    }
    .buda {
      img {
        max-width: 100%;
        height: 100%;
      }
    }
    .extra {
      background-image: url(..//media/images/reservation.jpg);
      background-position: center;
      filter: saturate(0.3) brightness(0.9) contrast(0.3) opacity(1);
    }
    .info {
      font-size: 28px;
      color: $white;
      filter: brightness(1) contrast(1);
      justify-self: center;
      padding: 5rem;
    }
  }
  footer {
    padding-left: 3rem;
    color: $light-gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    a {
      color: $light-gray;
      font-size: 17px;
      text-decoration: none;
    }
    a:hover {
      color: $orange;
    }
  }
  /*About Us*/
  .about-us {
    .ab-us {
      background-image: url(../media/images/about-1.jpg);
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: $banner-h-d;
      h2 {
        color: $white;
        padding: 2rem;
        font-size: 20px;
      }
    }
    aside {
      padding: 0% 5% 0% 5%;
    }
    h2 {
      color: $white;
      text-transform: uppercase;
      font-size: 30px;
    }
    h3 {
      color: $orange;
      text-transform: uppercase;
      font-size: 15px;
    }
    .ab2 {
      img {
        padding-bottom: 1rem;
      }
    }
  }
  /*Contact*/
  .contact {
    max-width: 100%;
    padding: 2rem;
    legend {
      color: $white;
      text-transform: uppercase;
      font-size: 20px;
    }
    label {
      color: $light-gray;
      margin-top: 2rem;
    }
    textarea {
      margin: 0 1rem 0 1rem;
    }
  }
  /*Gallery*/
  .gallery {
    img {
      width: 100%;
      padding-bottom: 10px;
    }
    img:hover {
      transform: scale(1.07);
      max-width: 100%;
      border: $light-gray solid 3px;
      padding: 0px;
    }
  }
  /*Our Menu*/
  .our-menu {
    height: $banner-h-d;
    background-image: url(../media/images/menu-kazumi.jpg);
    background-position: center;
    background-size: 135%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 55px;
    }
    h2 {
      color: $white;
      padding: 3rem;
      font-size: 35px;
    }
  }
}
