@import "./Utilities/variables";
@import "./Utilities/mixins";

@import "./vendors/bootstrap";

@import "./base/reset";
@import "./base/typo";

@import "./layout/header";
@import "./pages/home";
@import "./layout/footer";
@import "./pages/about-us";
@import "./pages/contact";
@import "./pages/gallery";
@import "./pages/our-menu";
