#ignorar style_old
style_old1.css
style_old2.css
style_old3.css
#ignorar wow js
/js
#ignorar node modules#
/node_modules
#ignorar packages#
package-lock.json
package.json
#ignorar style css map
style.css.map