/*About Us*/
.about-us {
  .ab-us {
    background-image: url(../media/images/about-1.jpg);
    background-position: center;
    @include flex-column-center;
    align-items: center;
    @media only screen and (max-width: 767px) {
      height: $banner-h;
    }
    @media only screen and (min-width: 768px) {
      height: $banner-h-t;
    }
    @media only screen and (min-width: 1024px) {
      height: $banner-h-d;
    }
    h2 {
      color: $white;
      padding: 2rem;
      font-size: 20px;
    }
  }
  aside {
    padding: 0% 5% 0% 5%;
  }
  h2 {
    color: $white;
    text-transform: uppercase;
    font-size: 30px;
  }
  h3 {
    color: $orange;
    text-transform: uppercase;
    font-size: 15px;
  }
  .ab2 {
    img {
      padding-bottom: 1rem;
    }
  }
}
