/*Contact*/
.contact {
  max-width: 100%;
  padding: 2rem;
  legend {
    color: $white;
    text-transform: uppercase;
    font-size: 20px;
  }
  label {
    color: $light-gray;
    margin-top: 2rem;
  }
  textarea {
    margin: 0 1rem 0 1rem;
  }
}
