main {
  #banner {
    width: 100%;
    @media only screen and (max-width: 767px) {
      max-height: $banner-h;
    }
    @media only screen and (min-width: 768px) {
      max-height: $banner-h-t;
    }
    @media only screen and (min-width: 1024px) {
      max-height: $banner-h-d;
    }
    filter: brightness(0.5);
  }
  p {
    padding-right: 6%;
  }
  .button {
    padding-top: 3rem;
    padding-bottom: 1rem;
    a {
      font-size: 28px;
      text-decoration: none;
      color: $white;
      border: 2px solid $light-gray;
      padding: 10px 30px 10px 30px;
    }
    a:hover {
      color: $orange;
      border: 3px solid $light-gray;
    }
  }
  .pics {
    img {
      padding-top: 1rem;
    }
  }
  .buda {
    img {
      @media only screen and (max-width: 767px) {
        max-width: 100%;
      }
      @media only screen and (min-width: 768px) {
        max-width: 100%;
        height: 100%;
      }
    }
  }
  .extra {
    background-image: url(..//media/images/reservation.jpg);
    background-position: center;
    filter: saturate(0.3) brightness(0.9) contrast(0.3) opacity(1);
  }
  .info {
    font-size: 28px;
    color: $white;
    filter: brightness(1) contrast(1);
    justify-self: center;
    padding: 5rem;
  }
}
