body {
  background-color: $bg-color;
  font-family: "Vollkorn", serif;
  font-size: 15px;
  line-height: 1.75;
  h1 {
    color: $white;
    text-transform: uppercase;
    font-size: 40px;
  }
  h2 {
    color: $orange;
    text-transform: uppercase;
    font-size: 15px;
  }
  p {
    color: $light-gray;
    margin-top: 2rem;
  }
}
